﻿@Scripts.Render("~/bundles/angular")
<div  ng-app="searcherApp">
    <div ng-controller="searchController">
        <div class="page-header">
            <h1> Поиск клиентов </h1>
        </div>
        <div class="panel">
            <div class="form-inline">
                <div class="form-group">
                    <div class="col-md-10">
                        <input class="form-control" ng-model="filter.Name" placeholder="Имя" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input class="form-control" ng-model="filter.Surename" placeholder="Фамилия" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input class="form-control" ng-model="filter.Patronymyc" placeholder="Отчество" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input class="form-control" ng-model="filter.Address" placeholder="Адрес" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <button class="btn btn-primary" ng-click="request()">Search</button><br />
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Отчество</th>
                        <th>Адреса</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="customer in humans">
                        <td>{{customer.Name}}</td>
                        <td>{{customer.Surename}}</td>
                        <td>{{customer.Patronymyc}}</td>
                        <td>
                            <div ng-repeat="addr in customer.Addresses">{{addr}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
